.contact form div {
  display: block;
  margin-bottom: 20px;
}
.contact textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact form .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact form input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
}
.contact form {
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact form div {
    flex-direction: column;
  }
  .contact input {
    width: 100%;
  }
}
